{% extends "main_layout.html.twig" %}

{% block content %}
    <div class="col-xs-10 col-xs-offset-1 text-justified">
        <!--<h1>Hello World, Ho, ho!</h1>-->
        {{ render( controller( "AppBundle:Homepage:getAllRides" ) ) }}
    </div>
{% endblock %}